<ion-view view-title="Sports">
	<ion-content style="background-color: #f8f8f8;">
    	<!-- <h1>Sports Edu</h1> -->
    	<!-- <img src="img/BackGround_Image.png"> -->
    	<div class="item item-image" style="background-color: #f8f8f8;border: none;">
    		<img class="full-image" src="img/BackGround_Image.png">
    		<p style="position: fixed;margin: -52px 71px auto;color: #fff;">Kad Sports is simpmly dummy text..</p>
    	</div>
    	<div style="padding: 57px 0px;">
	    	<div class="row">
		    	<div class="col">
		    		<div>
			    		<div class="item item-image cus-box" ng-click="login()">
					    	<img src="img/Sports.png">
					    	<p>Sports</p>
					    </div>
					</div>
			  	</div>
			  	<div class="col">
			  		<div>
				    	<div class="item item-image cus-box">
					    	<img src="img/Venue.png">
					    	<p>Venue</p>
					    </div>
					</div>
			  	</div>
			  	<div class="col">
			  		<div>
				    	<div class="item item-image cus-box">
					    	<img src="img/Active_Clubs.png">
					    	<p>Active Clubs</p>
					    </div>
				    </div>
			  	</div>
			</div>
			<div class="row" style="margin-top: 10px;">
		    	<div class="col">
		    		<div>
			    		<div class="item item-image cus-box">
				    		<img src="img/My_Booking.png">
				    		<p>My Booking</p>
				    	</div>
			    	</div>
			  	</div>
			  	<div class="col">
			  		<div>
				  		<div class="item item-image cus-box">
				    		<img src="img/My_Profile.png">
				    		<p>My Profile</p>
				    	</div>
			    	</div>
			  	</div>
			  	<div class="col">
			  		<div>
				  		<div class="item item-image cus-box">
				    		<img src="img/Club_Package.png">
				    		<img src="img/sub.png" style="position: absolute;width: 50px;right: 0;top: 0;margin-top: 0px;">
				    		<p>Club Package</p>
				    	</div>
			    	</div>
			  	</div>
			</div>
		</div>
  	</ion-content>
</ion-view>
